@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: rgb(44, 62, 80);
  --primary-2: rgb(255, 255, 255);
  --primary-3: rgb(52, 73, 94);
  --primary-1-color: 44, 62, 80;
  --primary-2-color: 255, 255, 255;
  --primary-3-color: 52, 73, 94;

  --bg-1: rgb(244, 246, 249);
  --bg-2: rgb(232, 248, 245);
  --bg-3: rgb(214, 234, 248);
  --bg-1-color: 244, 246, 249;
  --bg-2-color: 232, 248, 245;
  --bg-3-color: 214, 234, 248;

  --accent-1: rgb(243, 156, 18);
  --accent-2: rgb(52, 152, 219);
  --accent-3: rgb(231, 76, 60);
  --accent-1-color: 243, 156, 18;
  --accent-2-color: 52, 152, 219;
  --accent-3-color: 231, 76, 60;

  --secondary-1: rgb(247, 220, 111);
  --secondary-2: rgb(142, 68, 173);
  --secondary-3: rgb(39, 174, 96);
  --secondary-1-color: 247, 220, 111;
  --secondary-2-color: 142, 68, 173;
  --secondary-3-color: 39, 174, 96;

  --scroll-bg-color: #f1f1f1;
  --scroll-color: #888;

  --mochiy-font: var(--mochiy-font);
  --sansita-font: var(--sansita-font);
  --averia-font: var(--averia-font);
  --pridi-font: var(--pridi-font);
}

[data-theme="dark"] {
  --primary-1: rgb(51, 51, 51);
  --primary-2: rgb(255, 255, 255);
  --primary-3: rgb(93, 109, 126);
  --primary-1-color: 51, 51, 51;
  --primary-2-color: 255, 255, 255;
  --primary-3-color: 93, 109, 126;

  --bg-1: rgb(204, 255, 230);
  --bg-2: rgb(255, 204, 204);
  --bg-3: rgb(230, 204, 255);
  --bg-1-color: 204, 255, 230;
  --bg-2-color: 255, 204, 204;
  --bg-3-color: 230, 204, 255;

  --accent-1: rgb(153, 217, 234);
  --accent-2: rgb(204, 153, 255);
  --accent-3: rgb(255, 204, 153);
  --accent-1-color: 153, 217, 234;
  --accent-2-color: 204, 153, 255;
  --accent-3-color: 255, 204, 153;

  --secondary-1: rgb(204, 229, 255);
  --secondary-2: rgb(255, 255, 204);
  --secondary-3: rgb(255, 204, 204);
  --secondary-1-color: 204, 229, 255;
  --secondary-2-color: 255, 255, 204;
  --secondary-3-color: 255, 204, 204;

  --scroll-bg-color: rgb(136, 136, 136);
  --scroll-color: rgb(41, 41, 41);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-block: 0;
  font-family: var(--averia-font);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: var(--primary-1);
  background-color: var(--bg-3);
}

::-moz-selection {
  color: rgb(255, 255, 255);
  background: rgb(20, 130, 199);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(20, 184, 199);
}

::-webkit-scrollbar {
  width: 10px;
  border: none;
  outline: none;
}

::-webkit-scrollbar-track {
  background: var(--scroll-bg-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
}
